body {
    margin: 0;
    padding: 0;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-color: #f7f7f7;
    /* Replace #ff7e5f and #feb47b with your desired color values */
  }